<div class="card bg-base-100 h-full shadow-sm">
  <figure class="h-70 overflow-hidden">
    <ng-content select="img"></ng-content>
  </figure>
  <div class="card-body">
    <div class="flex flex-row justify-between items-center">
      <ng-content select="h2"></ng-content>
      <ng-content select="span"></ng-content>
    </div>

    <ng-content select="p"></ng-content>

    <div class="card-actions flex flex-row justify-end mx-auto">
      <ng-content select="button"></ng-content>
    </div>
  </div>
</div>
