<div class="card bg-base-100 h-full shadow-sm">
  <figure class="h-70 overflow-hidden">
    <img class="w-full h-full object-cover" [src]="product.image" [alt]="product.title" />
  </figure>
  <div class="card-body">
    <div class="flex flex-row justify-between items-center">
      <h2 class="card-title mr-2">{{ product.name }}</h2>
      <div class="badge badge-soft" [class]="product.inStock ? 'badge-success' : 'badge-error'">
        {{ product.inStock ? 'in Stock' : 'Out of Stock' }}
      </div>
    </div>
    <div class="text-md font-bold" [class]="product.basePrice > 100 ? 'text-error' : 'text-success'">L.E {{ product.basePrice }}</div>
    <div class="card-actions flex flex-row justify-end mx-auto">
      <button class="btn btn-accent" [disabled]="!product.inStock">Add to Cart</button>
    </div>
  </div>
</div>
